body 
    font-size: 16px
h1 
    color: black
    
.container 
    display: flex
    flex-direction: column

.item 
    width: 200px
    height: 100px
    margin: 15px
    border: 1px solid grey    
